<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.asif.servicedemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.UnboundServiceActivity" />
        <activity android:name=".activities.BoundServiceActivity" />
        <activity android:name=".activities.RemoteBoundServiceActivity"/>

        <service android:name=".services.MyService" />
        <service android:name=".services.MyBoundedService" />
        <service android:name=".services.MyRemoteService" android:exported="true"/>
    </application>

</manifest>